.user-name{
  font-size: xx-large;
  font-weight: 400;
}
.user-image{
  width: 150px;
}
.bio-font{
  font-size: large;
}
.repo-header{
  font-size: x-large;
  text-align: center;
  font-weight: 400;
}
.margin-bottom-zero{
  margin-bottom: 0;
}
