<!--navbar fixed-->
<div class="navbar-fixed">
  <nav [ngClass]="'navClass z-depth-0'">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Rapidlo</a>
      <ul class="right hide-on-med-and-down">
        <li><a (click)="scrollToDiv('#howItWorks')" style="font-weight: bolder">How it works</a></li>
        <li><a (click)="scrollToDiv('#features')" style="font-weight: bolder">Features</a></li>
        <li><a (click)="scrollToDiv('#pricing')" style="font-weight: bolder">Pricing</a></li>
        <li><a style="font-weight: bolder">Sign in</a></li>
      </ul>
    </div>
  </nav>
</div>

<!--top image-->
<div id="topImage" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center" style="margin-top: 30%">
        <div id="topTypedText" class="text" style="color: white;">
          <span class="type"></span>
        </div>
      </div>
      <div class="row center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Get started
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
  <div class="parallax"><img [src]="restaurantImagePath"></div>
</div>

<!--how it works-->
<div id="howItWorks" class="section white">
  <div class="row container">
    <p class="center-align" style="font-size: xx-large">How it works?</p>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background
      content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>
  </div>
</div>

<!--features-->
<div id="features" class="section white">
  <div class="row container">
    <p class="center-align" style="font-size: xx-large">Features</p>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background
      content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>
  </div>
</div>

<!--pricing-->
<div id="pricing" class="section white">
  <div class="row container">
    <p class="center-align" style="font-size: xx-large">Pricing</p>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background
      content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>
  </div>
</div>
