body {background-color:#555;}
.navbar-fixed {position: absolute;z-index:999999999;}

.parallax-container {
  height: 100vh;
}

/*typed.js overrided*/
span.type {
  font-family: Arial;
  font-size: xx-large;
}
span.type {
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
}
span.type::after {
  content: '|';
  display: inline;
  animation: blink 0.7s infinite;
}
/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}
/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
